@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*CABEÇALHO PÁGINA*/

.banner{
    background-image: url(/images/foto-banners/cadastro-musico.jpg);
    background-size: cover;
    background-position: center;
}

.button-responsivo{
    background-color: transparent;
    border: none;
    color: white;
    float: right;
    display: none;
}

.logo{
    width: 10%;
    float: inline-start;
    display: inline;
    padding-left: 5%;
    padding-top: 1%;
}

.titulo{
    text-align: center;
    font-size: 200%;
    width: unset;
    font-weight: bold;
    color: white;
    padding: auto;
    padding: 10%;
}

.menu{
    padding: 3%;
    text-align: right;
    color: white;
    text-decoration: none;
    font-family: Montserrat;
}

ol:hover{
    cursor: pointer;
    color: #E01747
}


.menu ol{
    display: inline;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    text-decoration: none
}

.menu-home{
    font-weight: bold;
}

.menu-quem-somos{
    font-weight: bold;
}

.menu-como-funciona{
    font-weight: bold;
}

.menu-parceiros{
    font-weight: bold;
}

.menu-blog{
    font-weight: bold;
}

.estabelecimento{
    display: inline;
    font-weight: bold;
}

.botao-estabelecimento{
    background-color: white;
    border: none;
    padding: 1%;
    color:#E01747;
    border-radius: 20px 20px 20px 20px;
    font-weight: bold;
    font-size: 15px;
    padding: 7px 20px 7px 20px;
    cursor: pointer;
}

.botao-estabelecimento:hover{
    cursor: pointer;
    background-color: black;
    color: white
}

.musicista{
    display: inline;
}

.botao-musicista{
    background-color: #E01747;
    border: none;
    padding: 1%;
    color: white;
    border-radius: 20px 20px 20px 20px;
    font-weight: bold;
    font-size: 15px;
    padding: 7px 20px 7px 20px;
    cursor: pointer;
}

.botao-musicista:hover{
    cursor: pointer;
    background-color: black;
    color: white
}

/*CORPO DA PÁGINA*/

.form-1 p{
    font-family: Montserrat;
    text-align: center;
    color: #666666;
    padding: 3%;
    margin: 3%;
    font-size: 16px;
    line-height: 20px;
}

.A{
    font-family: Montserrat;
    display: flex;
    justify-content: space-around;
    margin: 30px;
    color: #666666;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type= number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

h2{
    font-family: Montserrat;
    text-align: left;
    font-weight: bold;
    color: #666666;
    padding: 3%;
    font-size: 16px;
    line-height: 20px;
}

.duvida{
    font-family: Montserrat;
    text-align: center;
    font-weight: bold;
    color: #E01747;
    padding: 3%;
    font-size: 20px;
    line-height: 20px;
}

.campo-duvida{
    background-color: #F0F0F0;
    padding: 6%;
    font-family: Montserrat;
    color: #666666;
    margin-top: 10%;
    padding-bottom: 10%;
    font-size: 14px;
}

.envie-uma-mensagem{
    text-align: center;
    margin: 3%;
    margin-bottom: 6%;
}


.botao-enviar{
    background-color: #E01747;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 50px 10px 50px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 2%;
}

.botao-salvar{
    background-color: #E01747;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 50px 10px 50px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 2%;
}

.grid-galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

input[type=image], select {
    display: flex;
    justify-content: space-between;
    padding: 100px 40px;
    margin: 5px 8px;
    border: 1px;
    font-size: 14px;
    border-style: dotted;
    font-family: Montserrat;
    color: #666666;
}



/*RODAPÉ*/

.footer-1{
    display: flex;
    padding: auto;
    background-color:#363636;
    font-family: Montserrat;
    text-align: left;
}

.colum-1{
    color: white;
    font-size: 12px;
    padding: 3%;
    margin: auto;
    line-height: 170%;
}

.quem-somos{
    font-weight: bold;
    padding-bottom: 14%;
    font-size: 14px;
}

.colum-2{
    color: white;
    font-size: 12px;
    padding: 3%;
    margin: auto;
    line-height: 170%;
}

.como-funciona{
    font-weight: bold;
    padding-bottom: 14%;
    font-size: 14px;
}

.colum-3{
    color: white;
    font-size: 12px;
    padding: 3%;
    margin: auto;
    line-height: 170%;
}

.links-uteis{
    font-weight: bold;
    padding-bottom: 14%;
    font-size: 14px;
}

.redes-sociais {
    color: white;
    font-size: 12px;
    padding: 3%;
    line-height: 170%;
    padding: center;
}

.icone-facebook{
    width: 6%;
    margin-top: 1%;
    margin-bottom: 3%;
}

.icone-insta{
    width: 6%;
    margin-top: 1%;
    margin-bottom: 3%;
}

.icone-twitter{
    width: 6%;
    margin-top: 1%;
    margin-bottom: 3%;
}

.icone-linkedIn{
    width: 6%;
    margin-top: 1%;
    margin-bottom: 3%;
}

.icone-youtube{
    width: 6%;
    margin-top: 1%;
    margin-bottom: 3%;
}

.logo-rodape{
    width: 10%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.copyright{
    color: white;
    font-size: 10px;
    text-align: center;
    margin: auto;
}

.footer-2{
    background-color:#363636;
}

.copyright{
    font-family: Montserrat;
    padding: 2%;
}





@media(max-width: 950px)
{
    .logo{
        width: 30%;
        margin-left: 30%;
    }

    .menu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    ol:hover{
        cursor: pinter;
        opacity: 0.8;
    }

    .footer-1{
        width: 100%;
        min-height: 100px;
        display: flex;
        flex-direction: column;
    }

    .colum-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
    }

    .colum-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .colum-3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-rodape{
        min-width: 22%;
        text-align: center;
        align-items: center;
    }

    .footer-2{
        text-align: center;
    }

    .redes-sociais{
        text-align: center;
        padding-top: 10%;
    }

    .copyright{
        padding-bottom: 10%;
        font-size: 12px;
        size: 50px;
    }

    .button-responsivo{
        display: flex;
        font-size: 30px;
        padding-top: 70px;
        padding-right: 30px;
    }
    
    .button-responsivo:focus ˜ ol {
        height: 250px

    }

    .button-responsivo:hover{
        cursor: pinter;
        opacity: 0.8;
        cursor: pointer;
        color: black
    }

    .menu{
        text-align: justify;
        margin-right: none;
        background-color: black; opacity: 80%;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
        font-size: 0;
    }
        
    .botao-estabelecimento{
        width: 0;
        height: 0;
        font-size: 0;
        padding: 0;
        margin: 0;
    }

    .botao-musicista{
        width: 0;
        height: 0;
        font-size: 0;
        padding: 0;
        margin: 0;
    }

    .titulo{
        padding-top: 40%;
        font-size: 25px;
    }
    
}